$redshift-font-size-sub-head: 14px;
$redshift-font-weight-bold: bold;
$redshift-font-show-sub: 24px;

$redshift-cursor-pointer: pointer;

$redshift-border-color: #e5e5e5;

$redshift-color-gray-1: #fff;
