@import 'commonstyle';

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout {
  height: 100%;
  background-color: $redshift-color-gray-1;

  .layout-side {

    .logo {
      width: 100%;
      height: 50px;
    }

    .link-color {
      color: $redshift-color-gray-1;
    }
  }

  .layout-content {
    height: 100%;
    padding: 10px;
  }
}

.ant-layout-sider-children {
  padding-top: 50px;
}

.top-header {
  text-align: center;
  margin-bottom: 10px;

  .top-title {
    font-size: $redshift-font-size-sub-title;
    color: $redshift-color-gray-1;
  }

  .top-user {
    font-size: $redshift-font-size-sub-head;
    text-align: center;
  }
}
